* {
  box-sizing: border-box;
}

:root {
  --bg-color: #fafafb;
  --fg-color: rgba(0, 0, 6, 0.8);
  --border-color: rgba(0, 0, 0, 0.2);

  font-family: "InterVariable", "Inter", sans-serif;
  letter-spacing: -0.01em;
  word-spacing: -0.01em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222226;
    --fg-color: white;
    --border-color: rgba(255, 255, 255, 0.2);
  }
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 3rem 1rem;
  max-width: 60ch;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Typography */

h1, h2 {
  font-weight: 800;
  margin: 0.5em 0em;
}

p {
  line-height: 1.5em;
  font-size: 12pt;
  margin-top: 0;
}

a {
  text-decoration: underline;
  color: currentColor;
}

.avatar {
  border-radius: 50%;
}

.projects-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.project-tile {
  min-width: 250px;
  flex-basis: min-content;
  flex-grow: 1;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.donation-buttons {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
